{% extends 'base.html' %}
{% load static %}


{% block main %}
<div class="row container my-3" style="padding: 200px 250px 250px 250px;">
    <img class="img-corny" src="{% static 'assets/img/login_corn.png' %}" alt="..." />
    <form method="post" class="post-form" action="{% url 'account:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">  <!-- 로그인 성공후 이동되는 URL -->
        {% include "account/form_errors.html" %}
        <div class="form-group">
            <label for="username">사용자ID</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
            <div class="col-8 text-center" style="padding-top: 15px;">
                <button type="button" class="btn btn-primary" style="float: left;">
                    <a href="{% url 'account:signup'%}" style="
                      color: #ffff;
                      text-decoration: none;"
                    >ㅤㅤㅤㅤ회원가입ㅤㅤㅤㅤ</a>
                </button>
            </div>
                <button type="submit" class="btn btn-primary" style="float: right;">ㅤㅤㅤㅤ 로그인 ㅤㅤㅤㅤ</button>
            <div style="clear: both;"></div>
    </form>
</div>
{%endblock%}