{% extends 'base.html' %}
{% load static %}



{% block main %}
<div class="row container my-3" style="padding: 200px 250px 250px 250px;">
  <img class="img-corny" src="{% static 'assets/img/profile_corn.png' %}" alt="..." />

  {% if user.is_active %}
  <li><a href="{% url 'account:index' %}"> <span class="profile_page"></span> {{user.pk}} / {{user.username}} 입니다.</a></li>
  <li><a href="{% url 'account:logout' %}">Logout</a></li>

  {% else %}
  <li><a href="{% url 'account:login' %}"> <span class=""></span> Login</a></li>
  <li><a href="{% url 'admin:index' %}">Admin</a></li>
  {% endif %}
</div>
{% endblock %}